<div xmlns:th="http://www.w3.org/1999/xhtml">

    Aşağıda firmanıza açılmış kayıpların listesini bulabilirsiniz.

    <br/>
    <br/>
    <br />
    <br />

    <table class="table">
        <thead>
            <th>Kayıp ID</th>
            <th>Kayıp Açıklama</th>
            <th>Kayıp Detayı</th>
        </thead>
        <tbody>
            <tr th:each="loss : ${losses}">
                <td th:text="${loss.id}"></td>
                <td th:text="${loss.lossDescription}"></td>
                <td><a th:href="@{__${contextPath}__#/losses/view/__${loss.id}__}">Detay</a></td>
            </tr>
        </tbody>
    </table>

    <br/>
    <hr />

    You can find the list of opened losses to your firm by TOFAS.

    <br />
    <br />
    <br />
    <br />

    <table class="table">
        <thead>
        <th>Loss ID</th>
        <th>Loss Description</th>
        <th>Loss Detail</th>
        </thead>
        <tbody>
        <tr th:each="loss : ${losses}">
            <td th:text="${loss.id}"></td>
            <td th:text="${loss.lossDescription}"></td>
            <td><a th:href="@{__${contextPath}__#/losses/view/__${loss.id}__}">Detail</a></td>
        </tr>
        </tbody>
    </table>


</div>