<div xmlns:th="http://www.w3.org/1999/xhtml">
    <span th:text="${id}"></span> numaralı kayba ait, cevaplanmamış itiraz bulunmaktadır.

    <br />
    <br />

    <b>Not:</b> Cevaplanmayan itirazlar 7 gün içerisinde, kaybın iptaline neden olmaktadır.

    <br />
    <br />

    <table class="table">
        <thead>
            <th>Kayıp ID</th>
            <th>Kayıp Açıklama</th>
            <th>Resim No</th>
            <th>Firma</th>
            <th>Üretim Birimi</th>
            <th>Masa No</th>
            <th>Kayıp Detayı</th>
        </thead>
        <tbody>
            <tr>
                <td th:text="${id}"></td>
                <td th:text="${lossDescription}"></td>
                <td th:text="${disegno}"></td>
                <td th:text="${supplier}"></td>
                <td th:text="${productionUnit}"></td>
                <td th:text="${tableCode}"></td>
                <td><a th:href="@{__${contextPath}__#/losses/view/__${id}__}">Detay</a></td>
            </tr>
        </tbody>
    </table>

</div>