<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h3>Hatalı Firma Mail Bilgisi</h3>
    <br/>
    <p>
        <span th:text="${supplierSapCode}"></span> SAP kod numaralı <span th:text="${supplierName}"></span>
        firmaya ait mail detaylarının eksik olması sebebiyle, firmaya kesilen kayıp bedelleri firmalara iletilememektedir.

        <br />
        <br />

        Lütfen Firma Yönetimi Uygulaması'ndan, ilgili firmaların, Lojistik ve Kalite sorumluları mail adreslerinin
        tanımlamalarını gerçekleştiriniz.
    </p>

</div>