<div class="panel panel-default">
    <div class="panel-body">
        <h1>{{'editApplicationAuthorization' | translate}}</h1>

        <form class="form" ng-submit="updateItem()">
            <div ng-include="'/ng/view/tf-developer/auths/base-form.html'"></div>

            <br />
            <button class="btn btn-primary btn-sm pull-right" type="submit">{{'update'|translate}}</button>
            <span class="pull-right">&nbsp;</span>
            <button class="btn btn-default btn-sm pull-right" type="button" ui-sref="tfDeveloper.roles">{{'cancel'|translate}}</button>
        </form>
    </div>
</div>