<hr/>

<tabset>
    <tab select="getAnnualData()">
        <tab-heading>{{'annual' | translate}}</tab-heading>
        <br />

        <div class="row">

            <div class="col-md-4">
                <div kendo-chart="" k-options="annualStatusBasedOptions" k-ng-delay="annualStatusBasedOptions"></div>
            </div>

            <div class="col-md-4">
                <div kendo-chart="" k-options="annualLossBasedOptions" k-ng-delay="annualLossBasedOptions"></div>
            </div>

            <div class="col-md-4">
                <div kendo-chart="" k-options="annualSupplierBasedOptions" k-ng-delay="annualSupplierBasedOptions"></div>
            </div>

        </div>


    </tab>

    <tab select="getQuarterData()">
        <tab-heading>{{'quarter' | translate}}</tab-heading>
        <br />

        <div class="row">

            <div class="col-md-4">
                <div kendo-chart="" k-options="quarterStatusBasedOptions" k-ng-delay="quarterStatusBasedOptions"></div>
            </div>

            <div class="col-md-4">
                <div kendo-chart="" k-options="quarterLossBasedOptions" k-ng-delay="quarterLossBasedOptions"></div>
            </div>

            <div class="col-md-4">
                <div kendo-chart="" k-options="quarterSupplierBasedOptions" k-ng-delay="quarterSupplierBasedOptions"></div>
            </div>

        </div>

    </tab>

    <tab select="getMonthData()">
        <tab-heading>{{'month' | translate}}</tab-heading>
        <br />

        <div class="row">

            <div class="col-md-4">
                <div kendo-chart="" k-options="monthStatusBasedOptions" k-ng-delay="monthStatusBasedOptions"></div>
            </div>

            <div class="col-md-4">
                <div kendo-chart="" k-options="monthLossBasedOptions" k-ng-delay="monthLossBasedOptions"></div>
            </div>

            <div class="col-md-4">
                <div kendo-chart="" k-options="monthSupplierBasedOptions" k-ng-delay="monthSupplierBasedOptions"></div>
            </div>

        </div>

    </tab>

</tabset>