<form ng-submit="ok()">
    <div class="modal-header">

        <h3 class="modal-title" ng-if="!isLossPaused()">{{'pauseLoss' | translate}}</h3>
        <h3 class="modal-title" ng-if="isLossPaused()">{{'unPauseLoss' | translate}}</h3>

    </div>
    <div class="modal-body">

        <span ng-if="!isLossPaused()">
            {{'pauseLossMessage' | translate}}
        </span>

        <span ng-if="isLossPaused()">
            {{'unPauseLossMessage' | translate}}
        </span>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-default"
                ng-click="cancel()">{{'close' | translate}}</button>

        <button type="submit" class="btn"
                ng-class="{'btn-warning': !isLossPaused(), 'btn-success': isLossPaused()}">

            <span ng-if="!isLossPaused()">
                <i class="fa fa-pause"></i>
                {{'pause' | translate}}
            </span>

            <span ng-if="isLossPaused()">
                <i class="fa fa-play"></i>
                {{'unPause' | translate}}
            </span>

        </button>
    </div>
</form>