<div class="row">

    <div class="col-md-8">
        <div class="form-group">
            <label>{{'header' |translate}}</label>
            <input type="text" class="form-control" ng-model="item.header"/>
        </div>

        <div class="form-group">
            <label>{{'body' | translate}}</label>
            <textarea class="form-control" kendo-editor="" k-ng-model="item.body"></textarea>
        </div>
    </div>

    <div class="col-md-4">

        <div class="form-group">
            <label>{{'relatedGroups' |translate}}</label>
            <select kendo-multi-select="" k-options="roleOptions"
                    k-ng-model="item.relatedRoles" class="form-control">
            </select>
        </div>

        <div class="form-group">
            <label>{{'validUntil' |translate}}</label>
            <input kendo-date-time-picker=""
                   ng-model="item.validUntil"
                   class="form-control"/>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <input name="files"
               type="file"
               kendo-upload=""
               k-on-upload="onUpload(kendoEvent)"
               k-async="uploadOptions"
               k-select="onSelect" />
    </div>
</div>