<ul class="nav nav-pills nav-stacked">
    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.models">
            {{'models' | translate }}
        </a>
    </li>

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.workTypes">
            {{'workTypes' | translate }}
        </a>
    </li>

    <li ui-sref-active="active" tf-has-roles="" roles="['TFG_YKY_ADMIN', 'TFG_YKY_DURATION_DEF']">
        <a ui-sref="tfAdmin.standartSteps">
            {{'standartSteps' | translate }}
        </a>
    </li>

    <li ui-sref-active="active" tf-has-roles="" roles="['TFG_YKY_ADMIN', 'TFG_YKY_DURATION_DEF']">
        <a ui-sref="tfAdmin.steps">
            {{'steps' | translate }}
        </a>
    </li>

    <li ui-sref-active="active" tf-has-roles="" roles="['TFG_YKY_ADMIN', 'TFG_YKY_DURATION_DEF']">
        <a ui-sref="tfAdmin.durations">
            {{'durations' | translate }}
        </a>
    </li>

    <hr tf-has-role="TFG_YKY_ADMIN" />

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.qualityTables">
            {{'qualityTables' | translate }}
        </a>
    </li>

    <hr tf-has-role="TFG_YKY_ADMIN" />

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.logisticsLossTypes">
            {{'logisticsLossTypes' | translate }}
        </a>
    </li>

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.logisticsAcceptencePoints">
            {{'logisticsAcceptencePoints' | translate }}
        </a>
    </li>

    <hr tf-has-role="TFG_YKY_ADMIN" />

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.qualityLabTests">
            {{'qualityLabTests' | translate }}
        </a>
    </li>

    <hr tf-has-role="TFG_YKY_ADMIN" />

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.lossSources">
            {{'lossSources' | translate }}
        </a>
    </li>

    <hr tf-has-role="TFG_YKY_ADMIN" />

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.objectionTypes">
            {{'objectionTypes' | translate }}
        </a>
    </li>

    <hr tf-has-role="TFG_YKY_ADMIN" />

    <li ui-sref-active="active" tf-has-role="TFG_YKY_ADMIN">
        <a ui-sref="tfAdmin.mailLogs">
            {{'mailLogs' | translate }}
        </a>
    </li>

    <hr tf-has-roles="" roles="['TFG_YKY_ADMIN', 'TFG_YKY_PRESS_USER']" />

    <li ui-sref-active="active" tf-has-roles="" roles="['TFG_YKY_ADMIN', 'TFG_YKY_PRESS_USER']">
        <a ui-sref="tfAdmin.pressParameters">
            {{'pressParameters' | translate }}
        </a>
    </li>

</ul>